---
import Aside from "../components/Aside.astro"
import BasicLayout from "../layout/BasicLayout.astro"
import Navigation from "../components/Navigation.astro"
import { slide } from "astro:transitions"
const title = "Jeshol - Contact"
---

<BasicLayout title={title}>
    <div class="flex flex-col md:flex-row h-fit md:min-h-screen ">
         <div class="flex flex-col gap-4 md:border-r-2   md:items-start items-end md:bg-white">
    		<Navigation />
 			<Aside></Aside>
 		</div>
        <section transition:animate={slide({duration: "0.7s"})} class="bg-white flex flex-col gap-2 w-full">
            <div>
                <h3 class="p-4 pb-0 text-3xl text-center">Contact</h3>
            </div>
            <div class="max-w-2xl mx-auto">
                <p class="p-4 pb-0 ">
                    Please send a message if there's anything on your mind
                </p>
            </div>
            <div class="h-fit md:min-h-screen">
                <form class="md:p-10 p-4 flex flex-col gap-4 max-w-2xl mx-auto w-full " netlify>
                    <input placeholder="email" name="Email" type="email" class="border-2 p-2" / required>
                    <textarea placeholder="Message" name="Message" class="border-2 p-2 h-44" required></textarea>
                    <button class="p-2 px-4 border-2 border-orange-500 w-fit ">Submit</button>
                </form>
            </div>
        </section>

    </div>
</BasicLayout>