---
import Aside from "../components/Aside.astro"
import BasicLayout from "../layout/BasicLayout.astro"
import Navigation from "../components/Navigation.astro"
import { slide } from "astro:transitions"
const title = "Jeshol - kontakt"
---

<BasicLayout title={title}>
    <div class="flex flex-col md:flex-row h-fit">
         <div class="flex flex-col gap-4 md:border-r-2   md:items-start items-end bg-white">
    		<Navigation />
 			<Aside></Aside>
 		</div>
        <section transition:animate={slide({duration: "0.7s"})} class="bg-white flex flex-col gap-2 w-full py-4 h-[calc(100vh-12rem)]">
            <div>
                <h3 class="p-4 pb-0 text-3xl text-center">Kontakt</h3>
            </div>
            <div class="max-w-2xl mx-auto">
                <p class="p-4 pb-0 ">
                    Skriv gärna ett meddelande om du undrar över något!
                </p>
            </div>
            <div class="h-fit">
                <form action="/contact/success" name="contact" class="md:p-10 p-4 flex flex-col gap-4 max-w-2xl mx-auto w-full " netlify>
                    <input placeholder="Email" name="Email" type="email" class="border-2 p-2" / required>
                    <textarea placeholder="Message" name="Message" class="border-2 p-2 h-44" required></textarea>
                    <button type="submit" class="p-2 px-4 border-2 border-blue-500 w-fit ">Skicka</button>
                </form>
            </div>
        </section>

    </div>
</BasicLayout>
