   <section class=" mx-auto flex flex-col gap-4 p-4 ">
        <div class="flex lg:flex-row flex-col lg:gap-16 gap-4 ">
            <div class=" md:pt-0  lg:w-1/2">
                <div transition:animate="fade"  class=" pb-4 text-center text-3xl">
                    <h3 class="text-2xl">Skapande av hemsidan</h3>
		</div>
		<p>
		För mig handlar det om att skapa snabba och simpla hemsidor. Astro.build använder jag tillsammans med andra verktyg som  exempelvis React, Tailwind och WordPress. Tillsammans utgör den stabil grund för allting från ett portfolio till en blogg och däremellan.
		</p>
	    </div>
            <div class=" md:pt-0  lg:w-1/2">
                <div transition:animate="fade"  class="pb-4 text-center text-3xl">
                    <h3  class="text-2xl">Webbhotell för hemsidan</h3>
		</div>
		<p>
		Netlify är ett utmärkt  webbhotell. Alla ändringar på hemsidan uppladdas först på gitHub. Netlify har tillgång till vårt respository där hemsidan ligger på. Netlify känner direkt av när en förändring sker och uppdaterar hemsidan automatiskt. Vid eventuella fel återgår Netlify till den senaste fungerande verisonen.
		</p>
            </div>
        </div>
         <div class="flex lg:flex-row flex-col pt-4 lg:gap-16 gap-4  pb-4">
            <div class=" md:pt-0 lg:w-1/2">
                <div transition:animate="fade"  class="pb-4 pt-0 text-center text-3xl">
                    <h3  class="text-2xl">Innehåll på sidan </h3>
		</div>
		<p>
		Det finns flera sätt att hantera innehåll på sidan. Antingen genom markdown-filer, genom ett content management system som WordPress eller för enkla data via ett kalkylblad. Varje sätt har sina egna områden och krav på kunskap. Markdown-filer kräver högst kunskap och kalkylblad kräver minst kunskap.
		</p>
            </div>
            <div class="lg:w-1/2 md:my-auto">
                <img class=" rounded-xl mx-auto w-3/4" src="/images/computer.svg" alt="computer"/>  
            </div>
        </div>
    </section>
