---
const skills = [
    {
        "name": "React",
        "desc": "React is a front-end JavaScript library",
        "icon": "vscode-icons:file-type-reactjs"
    },
    {
        "name": "Astro",
        "desc": "Astro is web frameowrk for content-driven websites",
        "icon": "vscode-icons:file-type-light-astro"
    },
        {
        "name": "JavaScript",
        "desc": "JavaScript is used to create interactive sites",
        "icon": "logos:javascript"
    },
        {
        "name": "Tailwind CSS",
        "desc": "Tailwind is used to fastly create user interface",
        "icon": "devicon:tailwindcss"
    },
        {
        "name": "CSS",
        "desc": "Essential knowledge to create user interface",
        "icon": "devicon:css3"
    },
        {
        "name": "HTML5",
        "desc": "The basic building blocks for every site",
        "icon": "devicon:html5"
    },
        {
        "name": "WordPress",
        "desc": "A popular content management systen",
        "icon": "skill-icons:wordpress"
    },
        {
        "name": "Netlify",
        "desc": "Easy solution for hosting apps and websitess",
        "icon": "vscode-icons:file-type-netlify"
    }
    ]
---

<div class="flex md:flex-row flex-col flex-wrap h-fit bg-white">
    {skills.map((skill)=>(
          <div class=" lg:w-1/4 md:w-2/4 p-4">
            <div class="bg-sky-50 p-4 flex flex-col items-center justify-center gap-2 min-h-56">
                <iconify-icon icon={skill.icon} class="text-6xl"></iconify-icon>
                <h1 class="text-2xl">{skill.name}</h1>
                <span class="text-sm">{skill.desc}</span>
            </div>    
        </div>
    ))
    }
      
</div>







