<div class="flex md:flex-row flex-col flex-wrap h-fit">
    <div class=" lg:w-1/4 md:w-2/4 p-4">
        <div class="bg-sky-50 p-4 flex flex-col items-center gap-2">
            <iconify-icon icon="vscode-icons:file-type-reactjs" class="text-6xl"></iconify-icon>
            <h1 class="text-2xl">React</h1>
             <span class="text-sm">React is a front-end JavaScript library </span>
        </div>    
    </div>
    <div class="lg:w-1/4 md:w-2/4 p-4">
        <div class="bg-sky-50 p-4 flex flex-col items-center gap-2">
            <iconify-icon icon="vscode-icons:file-type-light-astro" class="text-6xl"></iconify-icon>
            <h1 class="text-2xl">Astro</h1>
             <span class="text-sm">Astro is web frameowrk for content-driven websites </span>
        </div>
    </div>
    <div class="lg:w-1/4 md:w-2/4 p-4">
        <div class="bg-sky-50 p-4 flex flex-col items-center gap-2">
            <iconify-icon icon="logos:javascript" class="text-6xl"></iconify-icon>
            <h1 class="text-2xl">JavaScript</h1>
             <span class="text-sm">JavaScript is used to create interactive sites </span>
        </div>
    </div>
    <div class="lg:w-1/4 md:w-2/4 p-4">
        <div class="bg-sky-50 p-4 flex flex-col items-center gap-2">
            <iconify-icon icon="devicon:tailwindcss" class="text-6xl"></iconify-icon>
            <h1 class="text-2xl">Tailwind CSS</h1>
             <span class="text-sm">Tailwind is used to fastly create user interface   </span>
        </div>
    </div>
    <div class="lg:w-1/4 md:w-2/4 p-4">
        <div class="bg-sky-50 p-4 flex flex-col items-center gap-2">
            <iconify-icon icon="devicon:css3" class="text-6xl"></iconify-icon>
            <h1 class="text-2xl">CSS</h1>
             <span class="text-sm">Essential knowledge to create user interface  </span>
        </div>
    </div>
    <div class="lg:w-1/4 md:w-2/4 p-4">
        <div class="bg-sky-50 p-4 flex flex-col items-center gap-2">
            <iconify-icon icon="devicon:html5" class="text-6xl"></iconify-icon>
            <h1 class="text-2xl">HTML5</h1>
             <span class="text-sm">The basic building blocks for every site </span>
        </div>
    </div>
    <div class="lg:w-1/4 md:w-2/4 p-4">
        <div class="bg-sky-50 p-4 flex flex-col items-center gap-2">
            <iconify-icon icon="skill-icons:wordpress" class="text-6xl"></iconify-icon>
            <h1 class="text-2xl">WordPress</h1>
            <span class="text-sm">A popular content management systen </span>
        </div>
    </div>
        <div class="lg:w-1/4 md:w-2/4 p-4">
        <div class="bg-sky-50 p-4 flex flex-col items-center gap-2">
            <iconify-icon icon="vscode-icons:file-type-netlify"  class="text-6xl"></iconify-icon>
            <h1 class="text-2xl">Netlify</h1>
            <span class="text-sm">Easy solution for hosting apps and websites </span>
        </div>
    </div>
    <section class=" mx-auto flex flex-col gap-4 p-4">
        <div class="flex md:flex-row flex-col gap-4 md:p-4">
            <div>
                <div transition:animate="fade"  class="bg-white p-4 text-center text-3xl">
                    <h3 class="text-2xl">Creating the website</h3>
                </div>
                <p>For me it's about creating fast and simple websites. Astro.build is a 
    static site generator which can fetch data, integrate components from 
    React and utilize Tailwind with ease. This stack makes it easy to 
    produce everything from a portfolio to a blog.</p>
            </div>
            <div>
                <div transition:animate="fade"  class="bg-white p-4 text-center text-3xl">
                    <h3  class="text-2xl">Hosting the website</h3>
                </div>
                <p>Netlify is an excellent chose for hosting websites. 
    The Netlify platform is granted access to the gitHub repository. Each 
    pusch to the respository will trigger a redeployment on Netlify. If 
    something is amiss or causes an error, Netlify will revert back to the 
    previous working version.</p>
            </div>
        </div>
         <div class="flex md:flex-row flex-col gap-4 md:p-4 pb-4">
            <div class=" md:pt-0 pt-4 md:w-1/2">
                <div transition:animate="fade"  class="bg-white p-4 pt-0 text-center text-3xl">
                    <h3  class="text-2xl">Content management </h3>
                </div>
                <p>The stack can use Markdown files. These files are 
    located in a folder within the project. This is a good choice for a site 
    that doesn't need to generate new content. Another option is to use an 
    external API. With this option we can use any content management system 
    with an API, such as WordPress. It's a ideal choice for a blog.</p>
            </div>
            <div class="md:w-1/2 md:my-auto">
                <img class=" rounded-xl mx-auto w-full" src="/images/computer.svg" alt="computer"/>  
            </div>
        </div>
    </section>
</div>







