---
import Head from  "../components/Head.astro"
import Navigation from  "../components/Navigation.astro"
import RecentPosts from "../components/RecentPosts.jsx"
---
<html lang="en" class="t overlay" style="scrollbar-gutter: stable ">
<Head></Head>
<body class="bg-sky-100">
	<div class="mx-auto max-w-7xl w-6xl">
        <slot></slot>
	</div>
</body>	
</html>
